<div class="container" *ngIf="product">
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="img-box card" style="width: 100%; height: 400px; padding: 20px;">
                <img src="{{product?.image}}" class="img-fluid" style="max-height: 350px" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="context-box">
                <h4>{{product?.title}}</h4>
                <h5>Price - {{product?.price | currency:'$'}} </h5>
                <h5>Category - {{product?.category}}</h5>
                <input type="number" [(ngModel)]="quan"/>{{quan}}
                <button class="btn btn-primary" (click)="addCart(product?.id, product?.title, product?.image, product?.price, quan)">Add Cart</button>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="desc-box">
                <h4>Product Description</h4>
                <p>{{product?.description}}</p>
            </div>
        </div>
    </div>
</div>