<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-forms></app-reactive-forms> -->

<!-- <h1>{{title}}</h1>
<h1 appRedEL >{{title}}</h1> -->

<!-- <a routerLink="">Home</a>
<a routerLink="about">About</a>
<a routerLink="users">Users</a>
<br>
<br>
<a routerLink="users/1">Users</a>
<a routerLink="users/2">Users</a>
<a routerLink="users/3">Users</a>

<router-outlet></router-outlet> -->

<!-- <app-for-user-services></app-for-user-services> -->

<!-- <app-random-api></app-random-api> -->
<app-for-post-api></app-for-post-api>